

/* Hero Section */
.AU-hero{
  position: relative;
  height: 400px;
  background: url(../Images/PNG/AU-hero1.JPG);
  background-position: 0px -200px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  color: white;
}

.AU-hero::after{
  content: "";
  position: absolute;
  top: 0; left: 0; right:0; bottom:0;
  background: rgba(0,0,0,0.35);
}

.AU-hero-content{
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding:10px;
  font-size: 30px;
  margin-bottom: 10px;
}

.AU-hero-content h1{
  margin: 10px;
  font-weight: bold;
  font-family: serif;
}

/* Main information sections */
.HeadingText{
    margin:100px;
    padding-left: 32px;
    padding-right: 32px;
}
.HeadingText p{
    margin: 0px;
    font-family: "Roboto",monospace;
    font-size: 50px;
    font-weight: 900;
    color: #090040;
}

.HeadingText-Text p {
    color:black;
    font-size:25px;
    margin-top:20px;
    font-weight: normal;
    max-width: 50vw;
    text-align: justify;
}

.HeadingText-Column {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

.Column-Numbers p{
  font-size: 100px;
  color: black;
  font-weight: 400;
  margin: 0;
}

.Column-Title p{
  font-size: 25px;
  color: #ffd95e;
  margin: 0;
}

.Column-desc p{
  font-size: 20px;
  margin-top: .5em;
  color: black;
  font-weight: normal;
  text-align: justify;
}